

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px)
materialize.css:3380
.container {
    width: 80%;
}

nav ul li:hover {
   background-color: #80cbc4;
}


.pagination {
    display: inline-block;
}
.pagination li{
	margin:5px;
	width: 30px;
	height: 30px; 
}



.pagination li.active {
    background-color: #80cbc4;
    border-radius: 8px;
}

.side-nav li {
  float: none;
  line-height: 66px;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.tabs .indicator{
    background-color:orange;/*color de la linea del tab */
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid grey;
    -webkit-box-shadow: 0 1px 0 0 grey;
    box-shadow: 0 1px 0 0 grey;
}